body {
  background-color: #cccccc;
}

.player_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player_one a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.player_one a:hover {
  color: red;
}

.player_two {
  width: 500px;
  height: 300px;
}

.player_two video {
  width: 100%;
  height: 100%;
}