body {
      background-color: #cccccc;
    }
ul li {
  list-style-type: none;
}
.player_one,
.player_two {
  background-color: rgb(255, 255, 255);
	  justify-content: flex-start;
  align-items: flex-center;
  text-align: center;
}
a {
  text-decoration: none;
}